<%- include('partials/header', { pageTitle: 'Books in ' + shopData.shopName }) %>

    <h2>Here are the books that we sell:</h2>
    <!-- List of available books -->
    <ul>
        <% availableBooks.forEach(book=> { %>
            <li>
                <%= book.name %>, £<%= book.price %> <a href="/books/delete/<%= book.id %>">Delete</a>
            </li>
            <% }); %>
    </ul>
    <a href="/">Back</a>

    <%- include('partials/footer') %>