<%- include('partials/header') %>

  <h2>Welcome to <%=shopData.shopName%>
  </h2>
  <!-- Navigation links -->
  <p><a href="<%= basePath %>/about">About <%=shopData.shopName%></a></p>
  <p><a href="<%= basePath %>/books/search">Search for books</a></p>
  <p><a href="<%= basePath %>/books/list">List books</a></p>
  <p><a href="<%= basePath %>/books/bargainbooks">Bargain books</a></p>
  <p><a href="<%= basePath %>/users/register">Register with us</a></p>
  <p><a href="<%= basePath %>/users/login">Login</a></p>
  <p><a href="<%= basePath %>/users/list">List users</a></p>
  <p><a href="<%= basePath %>/users/audit">Login audit</a></p>
  <p><a href="<%= basePath %>/books/addbook">Add a new book</a></p>

  <%- include('partials/footer') %>