<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Login Successful - <%= shopData.shopName %>
    </title>
    <meta http-equiv="refresh" content="2;url=<%= redirectUrl %>" />
    <link rel="stylesheet" type="text/css" href="<%= basePath %>/main.css" />
</head>

<body>
    <h1>Login Successful!</h1>
    <p>Welcome back, <strong>
            <%= username %>
        </strong>!</p>
    <p>Redirecting you back in 2 seconds...</p>
    <p>If not redirected, <a href="#"
            onclick="event.preventDefault(); var basePath = window.location.pathname.substring(0, window.location.pathname.indexOf('/users/loggedin')); var redirectPath = '<%= redirectUrl %>'; window.location.href = redirectPath.startsWith('/') ? basePath + redirectPath : redirectPath;">click
            here</a>.</p>
</body>

</html>