<%- include('partials/header', { pageTitle: 'Search Results - ' + shopData.shopName }) %>

    <!-- Display search results depending on search mode -->
    <% if (search_mode=="Exact Match" ) { %>
        <h2>Exact Match Search Results for "<%= search_text %>"</h2>
        <% } else { %>
            <h2>Partial Match Search Results for "<%= search_text %>"</h2>
            <% } %>
                <!-- List of search results -->
                <ul>
                    <% searched_books.forEach(book=> { %>
                        <li>
                            <%= book.name %>, £<%= book.price %>
                        </li>
                        <% }); %>
                </ul>
                <a href="/books/search">Back</a>

                <%- include('partials/footer') %>