<%- include('partials/header', { pageTitle: 'Users - ' + shopData.shopName }) %>

    <h2>Here are the users:</h2>
    <!-- List of available users -->
    <ul>
        <% users.forEach(user=> { %>
            <li>
                <%= user.username %> - <%= user.first_name %>
                        <%= user.last_name %>, Email: <%= user.email %>
                                <form method="post" action="<%= basePath %>/users/delete/<%= user.id %>"
                                    style="display:inline" onsubmit="return confirm('Delete this user?');">
                                    <button type="submit">Delete</button>
                                </form>
            </li>
            <% }); %>
    </ul>
    <a href="/">Back</a>

    <%- include('partials/footer') %>